*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
footer{
    display: block;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.contenedor{
    width: 80%;
    margin: 20px auto;
}
section nav{
    background-color: #5C6584;
}
section nav ul li{
    margin: 0 10px;
}
section nav ul li a{
    display: block;
    margin: 10px auto;
    background-color: #09080C;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}
section nav ul li a:hover{
    background-color: white;
    color: #09080C;
}
.col-3,.col-12,.col-6,.col-4{
    width: 100%;
    padding: 10px;
}
.boton{
    border: 1px solid black;
    background-color: white;
    color: black;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
}
.boton:hover{
    background-color: black;
    color: white;
}
.align-center{
    text-align: center;
}
.borde-redondo{
    border-radius: 50%;
}
.digitech{
    background-color: gray;
    color: white;
}
.logo, .rrss{
    width: 100%;
}
.imagen-servicios{
    background-image: url(../images/kali_1920x1080.jpg);
    background-repeat: no-repeat;
}


.test1{
    background-color: red;
}
.test2{
    background-color: blue;
}
.test3{
    background-color: green;
}
.test4{
    background-color: aquamarine;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    section nav ul li {
        display: inline-block;
        text-align: center;
    }
    .seccion1-nosotros{
        width: 80%;
        margin: 15px auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .col-3{
        width: 50%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-6{
        width: 50%;
    }
    footer .col-3
    {
        width: 25%;
    }
    footer{
        justify-content: space-between;
    }
    .flex-reverse{
        flex-direction: row-reverse;
    }
    .section-menu{
        position: sticky;
        top: 0;
        width: 100%;
    }
    .logo{
        width: 33.33%;
    }
    .rrss{
        width: 25%;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .rrss a{
        display: block;
    }
    .rrss{
        position: fixed;
        top: 182px;
        right: 0px;
        text-align: right;
        padding: 10px;
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}
